  body {
            font-family: 'Tektur', sans-serif;
            background-color: #f0f0f0;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        #container {
            margin: 15%;
            width: 70%;
            max-width: 600px;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 3px solid gray;
            text-align: center;
        }

        h1, h2 {
            color: gray;
        }

        .info {
            font-size: 18px;
            margin-top: 10px;
        }
