body{
    font-family: Tektur;
    background-color: antiquewhite;

}

@font-face {
    font-family: Tektur ;
    src: url(/Curriculum/fonts/Tektur-VariableFont_wdth\,wght.ttf) 
    format('truetype');
}

#name{
    text-align: center;
}

#year{
    text-align: center;
}

#div1{
    margin: 15%;
    width: 70%;
    height: 1500px;
    border:  3px solid rgb(156, 119, 74);

}