body {
    font-family: 'Tektur', sans-serif;
    background: linear-gradient(to bottom, #000000, #555555, #ffffff);

    color: #000000;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid gray;
    text-align: center;
    box-sizing: border-box;
}

h1, h2 {
    color: gray;
}

.info {
    font-size: 18px;
    margin-top: 10px;
    word-wrap: break-word;
}

/* Responsivo para dispositivos menores */
@media (max-width: 480px) {
    .info {
        font-size: 16px;
    }

    #container {
        padding: 15px;
        border-width: 2px;
    }
}
