  body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: antiquewhite;
        }
        #carouselExampleFade {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #titulo1, #titulo2, #titulo3 {
            margin-top: 35px;
            text-align: center;
        }
        .padeiros {
            max-width: 800px;
            margin: auto;
            display: grid;
            justify-content: center;
            align-items: center;
        }
        .maps {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
        footer {
            background-color: gray;
            color: black;
            text-align: center;
            padding: 10px;
        }
