body {
    background-color: rgb(178, 250, 178);
    font-size: 50px;
    font-family: teste;
   
    
    
   
}

h2{
    background-color: rgb(165, 231, 103);
    color: rgb(0, 0, 0);
}

p{
    color: rgb(53, 58, 58);
}

@font-face {
    font-family: teste ;
    src: url(/Aula06Março/Honk/Honk-Regular-VariableFont_MORF\,SHLN.ttf) 
    format('truetype');
}


